<h1><%= @product.name %></h1>

	<h3>Secret Power: <%= @product.secret_power %></h3>
	<h3>Description: <%= @product.description %></h3>
	<h3>Supplier: <%= @product.supplier.name %></h3>
	<h4>Categories: <%= @product.product_categories %></h4>
	<h5>Price: <%= number_to_currency(@product.price) %></h5>
	<h5>Tax: <%= number_to_currency(@product.tax) %></h5>
	<h5>Total: <%= number_to_currency(@product.total) %></h5>
	<a href = "/products">Home</a>